.blog {
  border-bottom: 1px solid var(--ifm-color-gray-400);
}

.title {
  font-size: 1.5rem;
  font-weight: 650;
  color: var(--ifm-navbar-link-color);
  text-decoration: underline;
}

.title:hover {
  color: var(--ifm-navbar-link-hover-color);
}

.tag {
  color: white;
}
